@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a href="../Cinemas/"><h3>Cinemas</h3></a>
    <br />
    <a href="../Movies/"><h3>Movies</h3></a>
    <br />
    <a href="../Sessions/"><h3>Sessions</h3></a>
    <br />
    <a href="../Tickets/"><h3>Tickets</h3></a>
    <br />
    <a href="../Users/"><h3>Users</h3></a>
</div>
