@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a href="../Cinema_Movie"><h3>Cinema_Movie</h3></a>
    <br />
    <a href="../Cinemas"><h3>Cinemas</h3></a>
    <br />
    <a href="../Cities"><h3>Cities</h3></a>
    <br />
    <a href="../Movies"><h3>Movies</h3></a>
    <br />
    <a href="../Roles"><h3>Roles</h3></a>
    <br />
    <a href="../Room_Movie"><h3>Room_Movie</h3></a>
    <br />
    <a href="../Rooms"><h3>Rooms</h3></a>
    <br />
    <a href="../Schedules"><h3>Schedules</h3></a>
    <br />
    <a href="../Tickets"><h3>Tickets</h3></a>
    <br />
    <a href="../Users"><h3>Users</h3></a>
</div>
