@model IEnumerable<CineGest.Models.Movies>

@{ ViewData["Title"] = "Bem-vindo"; }

<h3 class="mt-4 text-center">EM DESTAQUE</h3>

@if (!Model.Where(m => m.Highlighted == true).Any()) //não existem filmes em destaque
{
    <div class="text-center align-content-center" style="height: 50vh; display: grid;">
        <h2>Sem filmes em destaque</h2>
    </div>
}
else
{
    <div class="carousel slide data-interval=5000" data-ride="carousel">
        <div class="carousel-inner">
            @{ var i = 0;}

            @foreach (var item in Model.Where(m => m.Highlighted == true))
            {
                <div class="carousel-@(i == 0 ? "item active" : "item")">
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Movies">
                        <img src="~/images/movies/@item.Poster" class="img-fluid" alt=@item.Name title=@item.Name>
                    </a>

                    @if (item.SessionsList.Count > 0)//adiciona uma legenda com a data da sessão mais próxima e a mais afastada
                    {
                        var min = item.SessionsList.Min(s => s.Start).ToString("dd-MM-yyyy");
                        var max = item.SessionsList.Max(s => s.End).ToString("dd-MM-yyyy");

                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-warning">Disponível de @min a @max</h5>
                        </div>
                    }
                </div>
                i++;
            }
        </div>
    </div>
}

@*banner*@
<div class="row text-center mx-0">
    <div class="col mt-4">
        <div class="container">
            <h2>Compre aqui o seu bilhete para assistir no nosso cinema local</h2>
        </div>
    </div>
    <div class="col banner-border mt-4 border-left border-right">
        <div class="container">
            <h2>Todos os filmes recentes perto de sí</h2>
            @if (!User.Identity.IsAuthenticated)
            {

                <a class="mt-2 btn btn-lg btn-warning" asp-area="Identity" asp-page="/Account/Register">Inscreva-se</a>

            }
        </div>
    </div>
    <div class="col mt-4">
        <div class="container">
            <h2 class="mt-2">As estreias mais recentes</h2>
        </div>
    </div>
</div>


<div class="mt-4">
    <h2 class="movieList-title">Lista de Filmes</h2>

    @if (!Model.Any()) //não existem filmes
    {
        <div class="text-center align-content-center" style="height: 30vh; display: grid;">
            <h2>Sem filmes</h2>
        </div>
    }
    else //cria slides de 6 filmes
    {
        <div class="carousel slide" id="movieCarousel" data-interval="false" touch="true" style="height: 30vh;">
            <div class="carousel-inner">
                @for (int j = 0; j < Model.Count(); j++)
                {
                    int k;
                    <div class="carousel-@(j == 0 ? "item active" : "item")">
                        @for (k = j; k < Model.Count(); k++)
                        {
                            <a asp-action="Details" asp-route-id="@Model.ElementAt(k).Id" asp-controller="Movies">
                                <img src="~/images/movies/@Model.ElementAt(k).Poster" class="img-fluid movieList-img mx-3" alt=@Model.ElementAt(k).Name title=@Model.ElementAt(k).Name>
                            </a>
                            if ((k + 1) % 6 == 0) break;
                        }
                    </div>
                    j = k;
                }
                <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
</div>
